@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home";
}

<!-- SLIDER -->
@if(Model.Posts.Count() > 0)
{ 
   <div class="eskimo-carousel-container eskimo-bg-loader">
    <div id="eskimo-post-slider" class="eskimo-slider">
        <!-- SLIDE 1 -->
        @foreach(var post in Model.slidePosts)
        {

        
        <div>
            <a class="eskimo-slider-img" href="#"></a>
            <ul class="eskimo-slider-image-meta eskimo-image-meta-post">
                <li><a href="#"><span class="badge badge-default">May 28, 2018</span></a></li>
                <li><a href="#"><span class="badge badge-default">@post.Category.CategoryName</span></a></li>
            </ul>
            <div class="clearfix"></div>
            <img src="~/uploads/@post.ImageUrl" alt="Ketchup Flavored Ice Cream!" />
            <div class="eskimo-slider-desc">
                <div class="eskimo-slider-desc-inner">
                    <h2 class="card-title">@post.Title</h2>
                    <p>@post.Body.Substring(0,100)</p> b
                </div>
            </div>
        </div>
        }
        <!-- SLIDE 2 -->
        <div>
            <a class="eskimo-slider-img" href="single-post.html"></a>
            <ul class="eskimo-slider-image-meta eskimo-image-meta-post">
                <li><a href="single-post.html"><span class="badge badge-default">May 27, 2018</span></a></li>
                <li><a href="category.html"><span class="badge badge-default">Lifestyle</span></a></li>
            </ul>
            <div class="clearfix"></div>
            <img src="~/images/1200x600.png" alt="Hair You've Always Dreamed Of" />
            <div class="eskimo-slider-desc">
                <div class="eskimo-slider-desc-inner">
                    <h2 class="card-title">Hair You've Always Dreamed Of</h2>
                    <p>Ex si esse deserunt, et dolore occaecat, singulis tamen e possumus voluptatibus, varias cernantur si aute quid. Noster vidisse iis exquisitaque, deserunt te irure. Ubi illum nostrud fidelissimae id occaecat duis probant. Occaecat hic quorum aliquip se</p>
                </div>
            </div>
        </div>
        <!-- SLIDE 3 -->
        <div>
            <a class="eskimo-slider-img" href="single-post.html"></a>
            <ul class="eskimo-slider-image-meta eskimo-image-meta-post">
                <li><a href="single-post.html"><span class="badge badge-default">May 25, 2018</span></a></li>
                <li><a href="category.html"><span class="badge badge-default">Lifestyle</span></a></li>
                <li><a href="category.html"><span class="badge badge-default">Travel</span></a></li>
            </ul>
            <div class="clearfix"></div>
            <img src="~/images/1200x600.png" alt="15 Of The World's Best Carnivals" />
            <div class="eskimo-slider-desc">
                <div class="eskimo-slider-desc-inner">
                    <h2 class="card-title">15 Of The World's Best Carnivals</h2>
                    <p>Aliquip e duis. Se labore ullamco excepteur iis ullamco sint duis laboris amet sed ita occaecat de cernantur quo fore coniunctione voluptate enim senserit. Si ut nulla laboris, an eiusmod e incididunt. Non varias enim duis singulis, a quorum cupidatat. Voluptate summis</p>
                </div>
            </div>
        </div>
        <!-- SLIDE 4 -->
        <div>
            <a class="eskimo-slider-img" href="single-post.html"></a>
            <ul class="eskimo-slider-image-meta eskimo-image-meta-post">
                <li><a href="single-post.html"><span class="badge badge-default">May 25, 2018</span></a></li>
                <li><a href="category.html"><span class="badge badge-default">Lifestyle</span></a></li>
            </ul>
            <div class="clearfix"></div>
            <img src="~/images/1200x600.png" alt="5 Ways to a Healthy Lifestyle" />
            <div class="eskimo-slider-desc">
                <div class="eskimo-slider-desc-inner">
                    <h2 class="card-title">5 Ways to a Healthy Lifestyle</h2>
                    <p>Mandaremus veniam ab cupidatat exquisitaque, e quae laboris domesticarum, non sint mentitum fabulas de anim proident transferrem, ita aliqua imitarentur in in labore illum eram offendit, nisi fidelissimae possumus noster ullamco se eiusmod multos ex</p>
                </div>
            </div>
        </div>
        <!-- SLIDE 5 -->
        <div>
            <a class="eskimo-slider-img" href="single-post.html"></a>
            <ul class="eskimo-slider-image-meta eskimo-image-meta-post">
                <li><a href="single-post.html"><span class="badge badge-default">May 23, 2018</span></a></li>
                <li><a href="category.html"><span class="badge badge-default">Food &amp; Drink</span></a></li>
                <li><a href="category.html"><span class="badge badge-default">Travel</span></a></li>
            </ul>
            <div class="clearfix"></div>
            <img src="~/images/1200x600.png" alt="Best Breakfast In The World" />
            <div class="eskimo-slider-desc">
                <div class="eskimo-slider-desc-inner">
                    <h2 class="card-title">Best Breakfast In The World</h2>
                    <p>Fabulas relinqueret aut quamquam. Lorem possumus pariatur ut quibusdam transferrem an tempor. E consequat nam senserit, aliquip tamen est commodo illustriora. An cillum sunt ut quamquam. Laboris culpa occaecat, quo fugiat dolore varias consequat</p>
                </div>
            </div>
        </div>
    </div>
</div>
}
<!-- BLOG POSTS -->
<!-- POST  -->


@if (Model.Posts.Count() > 0)
{
    foreach (var post in Model.Posts)
    {

<div class="card card-horizontal">
    <div class="card-body">
        <div class="card-horizontal-left">
            <div class="card-category">
                <a href="category.html">@post.Category.CategoryName</a>
            </div>
            <h3 class="card-title"><a asp-action="post" asp-route-id="@post.Id">@post.Title</a></h3>
            <div class="card-excerpt">
                <p style="white-space: pre-line">
                    @post.Body.Substring(0, 200) ...
                </p>
            </div>
            <div class="card-horizontal-meta">
                <div class="eskimo-author-meta">
                    By <a class="author-meta" href="#">@post.ApplicationUser.FirstName @post.ApplicationUser.LastName</a>
                </div>
                <div class="eskimo-date-meta">
                    <a href="single-post.html">May 22, 2018</a>
                </div>
                <div class="eskimo-reading-meta">3 min read</div>
            </div>
        </div>
        <div class="card-horizontal-right" data-img="@Url.Content("~/uploads/"+@post.ImageUrl)">
            <a class="card-featured-img" asp-action="post" asp-route-id="@post.Id"></a>
        </div>
    </div>
</div>


    }
}


<!-- VIEW ALL BUTTON -->
<div class="eskimo-view-more">
    <a class="btn btn-default" href="blog.html">VIEW ALL POSTS</a>
</div>

<!-- DIVIDER -->
<hr class="section-divider" />

<!-- CAROUSEL -->
<div class="eskimo-widget-title">
    <h3 class="eskimo-carousel-title"><span>POPULAR POSTS</span></h3>
</div>

<div class="eskimo-carousel-container">
    <div class="eskimo-carousel-view-more">
        <a href="blog.html">VIEW ALL</a>
    </div>

    <div id="eskimo-post-carousel" class="eskimo-carousel">
        <!-- CAROUSEL ITEM 1 -->
        <div>
            <div class="card-masonry card-small">
                <div class="card">
                    <a href="single-post.html">
                        <img class="card-vertical-img" src="~/images/900x600.png" alt="Ketchup Flavored Ice Cream!" />
                    </a>
                    <div class="card-border">
                        <div class="card-body">
                            <div class="card-category">
                                <a href="single-post.html">May 28, 2018</a>
                            </div>
                            <h5 class="card-title"><a href="single-post.html">Ketchup Flavored Ice Cream!</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CAROUSEL ITEM 2 -->
        <div>
            <div class="card-masonry card-small">
                <div class="card">
                    <a href="single-post.html">
                        <img class="card-vertical-img" src="~/images/900x600.png" alt="Hair You've Always Dreamed Of" />
                    </a>
                    <div class="card-border">
                        <div class="card-body">
                            <div class="card-category">
                                <a href="single-post.html">May 27, 2018</a>
                            </div>
                            <h5 class="card-title"><a href="single-post.html">Hair You've Always Dreamed Of</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CAROUSEL ITEM 3 -->
        <div>
            <div class="card-masonry card-small">
                <div class="card">
                    <a href="single-post.html">
                        <img class="card-vertical-img" src="~/images/900x600.png" alt="15 Of The World's Best Carnivals" />
                    </a>
                    <div class="card-border">
                        <div class="card-body">
                            <div class="card-category">
                                <a href="single-post.html">May 25, 2018</a>
                            </div>
                            <h5 class="card-title"><a href="single-post.html">15 Of The World's Best Carnivals</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CAROUSEL ITEM 4 -->
        <div>
            <div class="card-masonry card-small">
                <div class="card">
                    <a href="single-post.html">
                        <img class="card-vertical-img" src="~/images/900x600.png" alt="5 Ways to a Healthy Lifestyle" />
                    </a>
                    <div class="card-border">
                        <div class="card-body">
                            <div class="card-category">
                                <a href="single-post.html">May 25, 2018</a>
                            </div>
                            <h5 class="card-title"><a href="single-post.html">5 Ways to a Healthy Lifestyle</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- CAROUSEL ITEM 5 -->
        <div>
            <div class="card-masonry card-small">
                <div class="card">
                    <a href="single-post.html">
                        <img class="card-vertical-img" src="~/images/900x600.png" alt="Best Breakfast In The World" />
                    </a>
                    <div class="card-border">
                        <div class="card-body">
                            <div class="card-category">
                                <a href="single-post.html">May 23, 2018</a>
                            </div>
                            <h5 class="card-title"><a href="single-post.html">Best Breakfast In The World</a></h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

